In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm
import matplotlib.pyplot as plt

In [11]:
url= '/content/drive/MyDrive/Projects/DataScience_Job_Market_Analytics/Data/salaries.csv'
data = pd.read_csv(url)
data

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,EN,PT,BI Analyst,12000,USD,12000,MX,100,US,L
1,2022,MI,FT,Machine Learning Engineer,100000,CHF,104540,CH,100,CH,L
2,2022,EN,FT,Machine Learning Developer,33000,USD,33000,IT,100,DE,S
3,2022,EN,FT,Machine Learning Scientist,33000,EUR,34744,IT,100,DE,S
4,2022,SE,FT,Machine Learning Engineer,201000,USD,201000,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
1385,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
1386,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
1387,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
1388,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
1389,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [12]:
data.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [14]:
data.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [15]:
data.dtypes

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

In [18]:
data.select_dtypes(include=['number']).describe()

         work_year        salary  salary_in_usd  remote_ratio
count  1390.000000  1.390000e+03    1390.000000   1390.000000
mean   2021.728058  2.342450e+05  124487.558273     63.597122
std       0.553284  1.054909e+06   67075.846928     45.440127
min    2020.000000  2.324000e+03    2324.000000      0.000000
25%    2022.000000  8.000000e+04   77285.000000      0.000000
50%    2022.000000  1.300000e+05  122750.000000    100.000000
75%    2022.000000  1.759875e+05  165000.000000    100.000000
max    2022.000000  3.040000e+07  600000.000000    100.000000